body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.subheader-text {
  width: 10ch;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  animation: flashing-border 0.75s step-end infinite, printed-text 5s steps(10);
}

@keyframes flashing-border{
  0%{
    border-color: black;
  }
  50%{
    border-color: transparent;
  }
  100%{
      border-color: black;
  }
}

@keyframes printed-text{
  from{
    width: 0;
  }
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}